# Apple things
.DS_Store
# XCode things
project.xcworkspace
xcuserdata
# VisualStudio things
*.aps
*.vcxproj.user
.vs
# build-dep things
*.zip
*.log
# output dirs
x64
/artifacts
/lib/events/dmon/
/lib/ecs/flecs/
/lib/ui/dear_bindings_generated/
/lib/ui/imgui/
