name: Build on Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Run build.ps1 with PowerShell Core
        shell: pwsh
        run: |
          # ensure script is in repository root or adjust path as needed
          ./hello.ps1
          ./build-dep.ps1
          ./build.ps1